{{ define "member_dashboard" }}
  {{ template "layout" . }}
{{ end }}

{{ define "content" }}
<div class="flex flex-col h-full">
  <div class="mb-4">
    <h1 class="text-2xl font-bold text-gray-900 dark:text-gray-100">🎛️ Member Dashboard</h1>
  </div>
  <div class="p-4 bg-white dark:bg-gray-800 rounded shadow text-gray-700 dark:text-gray-300 text-sm flex-1 mb-2">
    <p>Welcome, {{ .UserName }}!</p>
  </div>
</div>
{{ end }}
