{{ define "member_dashboard" }}
  {{ template "layout" . }}
{{ end }}

{{ define "content" }}
<div class="bg-white p-4 rounded shadow">
  <h1 class="text-2xl font-bold mb-4">🎛️ Member Dashboard</h1>
  <p>Welcome, Member!</p>
</div>
{{ end }}
